.cardGrupoPessoas {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: var(--cardGrupoPessoas-bg);
    border: solid var(--cardGrupoPessoas-bg) 2px;

    transition: 0.2s;

    #nomeComissao {
        justify-self: start;
        text-align: left;
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
        color: var(--cardGrupoPessoas-text);
    }

    #membros {
        display: flex;
        flex-direction: row;
        align-items: center;

        img,
        #imgVazio {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            object-fit: cover;
            border: 2px solid var(--cardGrupoPessoas-bg);
            background-color: var(--cardGrupoPessoas-bg-shadow);

            &+img,
            &+#imgVazio {
                margin-left: -8px;
                z-index: 1;
            }
        }

        .defaultImg {
            background: url('../../../assets/images/defaultProfilePicture.png') center/100% no-repeat;
        }


        @for $img from 0 through 5 {
            #imgID#{$img} {
                z-index: 5 - $img;
                background: url('../../../assets/images/defaultProfilePicture.png') center/100% no-repeat;
                background-color: var(--cardGrupoPessoas-bg-shadow);
            }
        }

        .defaultPicture {
            content-visibility: hidden;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            margin-left: 16px;
            color: var(--cardGrupoPessoas-text);

            &:hover {
                color: var(--cardGrupoPessoas-text-hover);
            }
        }
    }

    &:hover {
        background-color: var(--cardGrupoPessoas-bg-hover);
        border: solid var(--cardGrupoPessoas-bg-hover) 2px;

        #nomeComissao {
            color: var(--cardGrupoPessoas-text-hover);
        }

        #membros {

            img,
            #imgVazio {
                border: 2px solid var(--cardGrupoPessoas-bg-hover);
                background-color: var(--cardGrupoPessoas-bg-shadow-hover);
            }

            @for $img from 0 through 5 {
                #imgID#{$img} {
                    background-color: var(--cardGrupoPessoas-bg-shadow-hover);
                }
            }

            p {
                color: var(--cardGrupoPessoas-text-hover);
            }
        }
    }
}

.inativa {
    background-color: var(--body-bg);
    border: dashed var(--cardGrupoPessoas-bg-hover) 2px;
}

/* Alterações para Mobile */
@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .cardGrupoPessoas {
        padding: 16px;

        #nomeComissao {
            font-size: 18px;
        }

        #membros {

            img,
            #imgVazio {
                width: 24px;
                height: 24px;

                &+img,
                &+#imgVazio {
                    margin-left: -12px;
                }
            }

            p {
                font-size: 12px;
            }
        }
    }
}