.modalAdicionarMembro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;

    .listUsers {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;

        .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            flex: 1;
            padding: 4px;
            border-radius: 8px;
            background-color: transparent;

            .profilePicture {
                width: 32px;
                height: 32px;
                border-radius: 32px;
                background-color: var(--cardGrupoPessoas-bg-shadow);
            }

            .nome {
                font-size: 16px;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: var(--body-font);
            }

            &:hover {
                background: var(--body-bg-alternative);

                .nome {
                    color: var(--body-font-alternative);
                }
            }
        }
    }
}