.pageEditUser {
    width: 100%;

    .pageContainer {
        display: flex;
        flex: 1;
        gap: 40px;

        .pageNavigation {
            min-width: 240px;
        }

        .pageEditUserOption {
            width: 100%;

            .titulo {
                display: none;
            }

            form {
                margin-top: 64px;
            }
        }
    }
}

/* Alterações para Mobile */
@media screen and (max-device-width: 768px),
screen and (max-width: 768px) {
    .pageEditUser {
        .pageContainer {
            .pageNavigation {
                display: none;
            }

            .pageEditUserOption {
                .titulo {
                    display: block;
                }

                form {
                    margin-top: 0;
                }
            }
        }
    }
}