.suporte {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        img {
            width: 180px;
            height: 180px;
            border: 2px solid var(--body-input-border);
            border-radius: 50%;
            object-fit: cover;
            background-color: var(--body-bg-shadow);
        }

        h1 {
            margin-bottom: 20px;
            padding: 4px 24px;
            border-radius: 20px;
            background-color: var(--body-bg-alternative);
            font-size: 18px;
            color: var(--body-font-alternative);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-items: center;
        flex: 1;
        gap: 20px;
        width: 100%;
        max-width: 380px;

        label {
            font-size: 16px;
            font-weight: 400;
            width: 100%;

            p {
                padding: 0 0 8px 4px;
            }

            input {
                flex: 1;
                width: 100%;
            }
        }

        button {
            min-height: 48px;
            margin-top: 20px;
            background-color: var(--body-bg-highlight);
        }
    }
}