$red: var(--body-bg-attention);
$yellow: var(--body-bg-warning);
$green: var(--body-bg-ok);


.password-security {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 480px;

    .bars {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex: 1;
        gap: 8px;

        div {
            height: 6px;
            flex-grow: 1;
            margin: 8px 0;
            gap: 20px;
            border-radius: 20px;
        }

        #empty {
            background-color: var(--body-input-border);
        }
    }

    .text {
        p {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .level0 {
        .bars #full {
            background-color: $red;
        }

        .text p {
            color: $red;
        }
    }

    .level1 {
        .bars #full {
            background-color: $yellow;
        }

        .text p {
            color: $yellow;
        }
    }

    .level2 {
        .bars #full {
            background-color: $green;
        }

        .text p {
            color: $green;
        }
    }
}

/* Alterações para Mobile */
@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .password-security {
        max-width: none;

        .bars div {
            height: 4px;
        }
    }
}