.page {

    .titulo {
        margin-bottom: 30px;

        h1 {
            font-size: 26px;
            font-weight: 300;
            color: var(--body-font);
        }
    }

    .autor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        #label {
            font-size: 16px;
            font-weight: 400;
            color: var(--body-font);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .inputLabel>p {
            font-weight: 600;
            color: var(--body-font);
            margin: 0 0 8px 4px;
        }

        .inputText {
            width: 100%;
        }

        .actionButtons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            flex: 1;
            gap: 16px;
            margin-top: 24px;
            padding-bottom: 32px;
        }
    }
}

/* Alterações para Mobile */
@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .page {
        margin-top: 16px;
        padding: 0 8px;

        .titulo {
            margin-bottom: 16px;

            h1 {
                font-size: 24px;
            }
        }

        form {
            .actionButtons {
                padding-bottom: 0;

                button {
                    width: 100%;
                }
            }
        }
    }
}