@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.responseModalBG {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    z-index: 99;
    // Efeito Fade-in
    animation: fadeIn 0.4s ease-in-out;
}

.responseModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: none;
    overflow: hidden;
    cursor: default;
    z-index: 100;
    // Efeito SlideUp
    animation: slideUp 0.3s ease-in-out;

    .responseModalContainer {
        width: 90%;
        max-width: 320px;
        max-height: 80%;
        overflow: hidden;
        border-radius: 16px;
        background-color: var(--body-bg);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

        .responseModalContent {
            display: flex;
            flex-direction: column;
            flex-flow: column nowrap;
            justify-content: space-between;
            gap: 24px;
            padding: 16px;
            height: 100%;
            color: var(--body-font);

            .message {
                p {
                    flex: 1;
                    text-align: center;
                    word-wrap: break-word;
                    color: var(--body-font);
                }
            }

            .action {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                button {
                    width: 100%;

                    &#action {
                        background-color: var(--body-font-light-2);

                        &:hover {
                            background-color: var(--body-font);
                        }

                    }
                }
            }
        }
    }
}