.pageEditUserDados {
    form {
        .actionButtons {
            display: flex;
            flex-direction: row;
            align-items: flex-start !important;
            justify-content: flex-start !important;
        }
    }
}