.page {

    .titulo {
        margin-bottom: 30px;

        h1 {
            font-size: 26px;
            font-weight: 300;
            color: var(--body-font);
        }
    }

    .autor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        #label {
            font-size: 16px;
            font-weight: 400;
            color: var(--body-font);
        }
    }

    .info {
        margin-bottom: 24px;
    }

    .selectbox {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 16px;
        margin-bottom: 48px;

        select {
            width: 100%;
            max-width: 250px;
            padding: 16px;
            font-size: 16px;
            font-weight: 600;
            border: 1px solid var(--body-input-border);
            border-radius: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--body-font);
            background-color: var(--body-bg);
            cursor: pointer;

            option {
                font-size: 18px;
                background-color: var(--body-bg);
                color: var(--body-font);

                &:checked {
                    background-color: var(--body-font);
                    color: var(--body-font-alternative);
                }
            }
        }

        p {
            color: var(--body-font);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .inputLabel>p {
            font-weight: 600;
            color: var(--body-font);
            margin: 0 0 8px 4px;
        }

        .inputText {
            width: 100%;
        }

        textarea {
            resize: none;
            overflow-y: auto;
            flex: 1;
            width: 100%;
            min-height: 128px;
            transition: min-height 0.6s;

            &:focus {
                min-height: 320px;
            }
        }

        .actionButtons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            flex: 1;
            gap: 16px;
            margin-top: 24px;
            padding-bottom: 32px;
        }
    }
}

/* Alterações para Mobile */
@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .page {
        margin-top: 16px;
        padding: 0 8px;

        .titulo {
            margin-bottom: 16px;

            h1 {
                font-size: 24px;
            }
        }

        form {
            .actionButtons {
                padding-bottom: 0;

                button {
                    width: 100%;
                }
            }
        }
    }
}