.modalAnexos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    .doc {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        gap: 16px;
        padding: 8px;
        background-color: var(--body-bg-shadow);
        border-radius: 8px;

        img {
            width: 32px;
            height: 32px;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--body-font);
        }

        &:hover {
            background-color: var(--body-bg-alternative);

            p {
                color: var(--body-font-alternative);
            }
        }
    }
}