.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profilePicture {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 180px;
        height: 180px;
        border: 2px solid var(--body-input-border);
        border-radius: 50%;
        margin-bottom: 20px;
        object-fit: cover;
        background: url('../../../assets/images/defaultProfilePictureDark.png') center/100% no-repeat;
        background-color: var(--body-bg-shadow);
    }

    .defaultPicture {
        content-visibility: hidden;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-items: center;
        flex: 1;
        gap: 20px;
        width: 100%;
        max-width: 380px;

        label {
            font-size: 16px;
            font-weight: 400;
            width: 100%;

            p {
                padding: 0 0 8px 4px;
            }

            input {
                flex: 1;
                width: 100%;
            }
        }

        .btnLink {
            align-self: flex-end;

            p {
                text-decoration: underline;
            }

            &:hover {
                color: var(--body-bg-highlight);
                font-weight: 600;
            }
        }

        button {
            min-height: 48px;
            margin-top: 20px;
            background-color: var(--body-bg-highlight);
        }

        /* Ocultar as setas do input number */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
        }
    }
}