.modalNovaAcao {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        background-color: var(--body-bg-shadow);

        p {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            color: var(--body-font);
        }

        &:hover {
            background-color: var(--body-font);

            p {
                color: var(--body-font-alternative);
            }
        }
    }
}