.pageViewAcao {
    .postTitulo {
        margin-bottom: 30px;

        h1 {
            font-size: 26px;
            font-weight: 300;
            color: var(--body-font);
        }
    }

    .postAutor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        #label {
            font-size: 16px;
            font-weight: 400;
            color: var(--body-font);
        }
    }

    .postAcoes,
    .buttonsGrupo {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 16px;
        width: 100%;
    }

    .postAcoes {
        margin: 40px 0;
    }

    .buttonsGrupo {
        flex-direction: row;

        .aprovar {
            background-color: var(--button-ok);
        }

        .reprovar {
            background-color: var(--button-attention);
        }

        .aprovar,
        .reprovar {
            &:hover {
                background-color: var(--body-font);

                p,
                svg>* {
                    color: var(--body-font-alternative);
                    fill: var(--body-font-alternative);
                }
            }
        }
    }

    .postTipoProposta,
    .postTipoEmenda,
    .postTipoLicenca,
    .postTipoRenuncia {

        .postInfo,
        .postAlteracoes,
        .postTexto,
        .postAssinaturas {
            p {
                font-size: 16px;
                font-weight: 400;
                white-space: pre-line; // Interpretar \n como quebra de linha
                line-height: 130%;
            }
        }

        .postInfo,
        .postData,
        .postAlteracoes {
            margin-bottom: 24px;
        }

        .postTexto,
        .postData {
            p {
                overflow: auto;
                color: var(--body-font);
            }
        }

        .postTexto {
            margin-bottom: 36px;

            p {
                padding: 8px 0;
            }
        }

        .postAssinaturas {
            color: var(--body-font);

            .showAssinaturas {
                display: inline;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                    color: var(--body-bg-highlight);
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Alterações para Mobile */
@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .pageViewAcao {

        .postAcoes {
            button {
                min-width: 100%;
            }
        }

    }
}