.pageAcao {
    .titulo {
        margin-bottom: 30px;

        h1 {
            font-size: 26px;
            font-weight: 300;
            color: var(--body-font);
        }
    }

    .autor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        #label {
            font-size: 16px;
            font-weight: 400;
            color: var(--body-font);
        }
    }

    .botoes {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-start;
        flex: 1;
        gap: 16px;
        width: 100%;
        padding-bottom: 32px;
    }

    .sessao {
        margin-bottom: 48px;
    }
}

/* Alterações para Mobile */
@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .pageAcao {
        margin-top: 16px;
        padding: 0 8px;

        .titulo {
            margin-bottom: 16px;

            h1 {
                font-size: 24px;
            }
        }


        .botoes {
            padding-bottom: 0;

            button,
            #botaoVoltar {
                width: 100%;
            }
        }

    }
}