.buttonPessoa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 250px;
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--body-input-border);
    background-color: var(--body-bg);

    img {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        border-radius: 32px;
        object-fit: cover;
    }

    #fotoURL {
        background: url('../../../assets/images/defaultProfilePicture.png') center/100% no-repeat;
        background-color: var(--cardGrupoPessoas-bg-shadow);
    }

    .defaultPicture {
        content-visibility: hidden;
    }

    p {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--body-font);
    }

    &:hover {
        border: 1px solid var(--body-bg-highlight);

        p {
            color: var(--body-bg-highlight);
        }
    }
}