.modalDocOficial {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
        width: 100%;
    }

    .attention {

        &:hover {
            background-color: var(--button-attention);
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: 20px;
        padding: 20px;

        #icon {
            width: 30%;
            height: 30%;
        }

        #desc {
            text-align: center;
        }
    }
}